/* GRID - Usage: <div class="grid" style="--cols-mobile: 2; --cols-desktop: 3;"> */
.image-grid {
    display: grid;
    grid-template-columns: repeat(var(--cols-mobile, 2), 1fr);
    gap: 5px;
    
    @media (min-width: 600px) {
        grid-template-columns: repeat(var(--cols-desktop, 3), 1fr);
    }
}

.image-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &:has(+ p){
        margin-block-end: var(--small-space);
    }
    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.mobile {
    display: block;
    @media (min-width: 600px) {
        display: none;
    }
}

.desktop {
    display:none;
    @media (min-width: 600px) {
        display: block;  
    }
}

