/* FOOTER */
.footer {
    padding: var(--mini-space) 0;
    background-color: var(--text-color);

    p:not(.username) {
        color: var(--footer-text);
        font-size: var(--step--2);
    }

    &__some {
        margin: var(--smaller-space) auto;
        
        img {
            width: 25%;
        }

        &--landing {
            width: 70%;
            img{
                width: 40%;
            }
        }
    }
}

@media (min-width: 600px) {
    .footer {
        &__some {
            width: 50%;

            img {
                width: 15%;
            }

            &--landing {
                width: 40%;
                
            }
        }
    }
}