.grid {
    display: grid;

    &__main {
        &--about {
            grid-row: 2;
        }
    }
    &__aside {
        display: contents;
        border-right: 0.1rem solid var(--primary-color);
    
        img {
            width: 100%;
            object-fit: cover;
        }

        &--about figure:first-child img {
            height: 35vh;
            grid-row: 1; 
            object-position: 50% 15%;
        }
    }
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 0.7fr 1fr;
        grid-template-areas: 
            "left right";
    
        &__aside {
            position: sticky;
            bottom: 0;
            align-self: last baseline;
            display: block;
            grid-area: left;
            
            &--about figure:first-child img {
                height: auto;
            }
        }

        &__main {
            grid-area: right;
        }
    }
}
