@keyframes twinkle {
    from { opacity: 0.5; transform: scale(1); }
    to { opacity: 1; transform: scale(3); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(8px); }
}

.star {
    animation: twinkle 2s infinite alternate;
}

.hero {
    position: relative; /* For stjernene!! */
    height: 100vh;

    &__content {
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        @media (max-width: 600px) {
            align-content: end;
            :is(.hero--graphic, .hero--web) & {
                align-content: center;
            }
        }
    }
    &__info {
        align-self: center;
        margin-inline: auto;
        width: clamp(28ch, 50%, 38ch);
        &--longer {
            width: clamp(28ch, 80%, 45ch);
        }
    }
    &__image {
        align-self: end;
        margin-inline-start: auto;
        width: clamp(265px, 50%, 350px);
    }
    &__scroll {
        font-size: var(--step-4);
        animation: bounce 2s infinite;
        position: absolute;
    }
    &--graphic, &--web {
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
    &--graphic {
        background-image: url(../assets/images/graphic-background.png);
    }
    &--web {
        background-image: url(../assets/images/web-background.png);
    }
}
