@keyframes twinkle {
    from { opacity: 0.5; transform: scale(1); }
    to { opacity: 1; transform: scale(3); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(8px); }
}

.star {
    animation: twinkle 2s infinite alternate;
}

.hero {
    position: relative; /* For stjernene!! */
    height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }
    &__info {
        margin-inline: auto;
        width: clamp(28ch, 50%, 60ch);
    }
    &__image {
        align-self: end;
        width: clamp(265px, 50%, 1200px);
    }
    &__scroll {
        font-size: var(--step-4);
        animation: bounce 2s infinite;
        position: absolute;
        left: 12%;
        transform: translateX(-50%);
    }
}