@keyframes twinkle {
    from { opacity: 0.5; transform: scale(1); }
    to { opacity: 1; transform: scale(3); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(8px); }
}

.star {
    animation: twinkle 2s infinite alternate;
}

.hero {
    position: relative; /* For stjernene!! */
    height: 100vh;

    &__content {
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        @media (max-width: 600px) {
            align-content: end;
        }
    }
    &__info {
        align-self: center;
        margin-inline: auto;
        width: clamp(28ch, 50%, 38ch);
    }
    &__image {
        align-self: end;
        margin-inline-start: auto;
        width: clamp(265px, 50%, 350px);
    }
    &__scroll {
        font-size: var(--step-4);
        animation: bounce 2s infinite;
        position: absolute;
    }
}