/* NAVIGATION MENU */
.navbar {
    display: flex;
    align-items: center;
    padding: var(--normal-space);
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;

    &--solid {
        position: relative;
        border-bottom: 1px solid var(--tertiary-color);
        background-color: var(--primary-color);
    }

    &__menu {
        background: none;
        font-size: var(--step-3);
        color: var(--white-color);
        @media (min-width: 600px) {
            display: none;
        }
    }

    &__list {
        display: none;
        
        &.open {
            display: flex;
            flex-direction: column;
            padding-block: var(--small-space);
            background-color: var(--primary-color);
            border: 0.1rem solid var(--tertiary-color);
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
        }

        @media (min-width: 600px) {
            display: flex;
            align-items: center;
        }
    }

    &__items {
        display: inline-block;
        padding-block: var(--normal-space);
        margin-inline: var(--small-space); 

        &:hover {
            font-weight: bold;
        }
        @media (min-width: 600px) {
            padding: 0;
        }
    }

    &__logo {
        width: clamp(100px, 30%, 150px);
    }
}