.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem 6rem;
    min-height: 75vh;

    &__img-box {
        width: clamp(220px, 60%, 300px);
        transform: rotate(-5deg);
    }
    &__img {
        box-shadow: -7px 12px 20px var(--black-color);
        border-radius: var(--border-radius);
    }
    &__info {
        width: clamp(24ch, 50%, 40ch);
    }
}

.phases {
    &__box {
        @media (min-width: 600px) {
            width: 75%;
            margin: auto;
        }
    }
    &__heading, &__info {
        color: var(--primary-color);
    }

    &__info {
        padding-block-start: var(--normal-space);
        p {
            margin: 0;
        }
        p:first-of-type {
            font-weight: 500;
        }
        p:last-of-type {
            color: var(--tertiary-color);
        }
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    column-gap: 3rem;

    &__form {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: var(--normal-space) var(--small-space);
        border: 0.2rem solid var(--border-color);
        border-radius: var(--border-radius);
        background-color: var(--tertiary-color);

        label {
            padding-block-end: var(--mini-space);
        }
        input:not(.button), select, textarea {
            margin-block-end: var(--small-space);
            padding: var(--small-space);
            border-radius: var(--border-radius-small);
            background-color: var(--secondary-color);
        }
        ::placeholder {
            color: var(--tertiary-color);
        }
    }

    .button {
        align-self: end;
    }

    @media (min-width: 600px) {
        width: 75%;
    }
}


