.project-img {
    height: 25vh;
    object-fit: cover;
    @media (min-width: 600px) {
        height: 35vh;
    }
}

.project-info {
    width: 90%;
    margin: auto;
    padding-block: var(--normal-space);

    &__details {
        display: flex;
        justify-content: space-between;
        color: var(--secondary-color);

        &--type {
            text-transform: uppercase;
            font-weight: 500;
        }
        &--payment {
            font-style: italic;
        }
    }
    &__tools {
        padding-block: var(--big-space);
        border-block: 0.1rem solid var(--white-color);
        p {
            margin: 0;
        }
        span {
            font-weight: 500;
            text-transform: uppercase;
            color: var(--secondary-color);
        }
    }
    &__next {
        display: flex;
        justify-content: space-between;
        padding-block-start: var(--normal-space);
        border-top: 0.5px solid var(--tertiary-color);

        &--bottom {
            padding: var(--normal-space);
            a {
                color: var(--primary-color);
            }
            @media (min-width: 600px) {
                display: none;
            }
        }
    }
}

.projects {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--tertiary-color);
    padding: var(--normal-space);

    @media (min-width: 600px) {
        padding: var(--normal-space) var(--big-space);
    }

    &__btn  {
        padding-inline-end: var(--small-space);
        text-transform: uppercase;
        background-color: transparent;
    }
    .active {
        color: var(--tertiary-color);
        font-weight: bold;
    }
}

.proto {
    display: flex;
    margin-block-start: var(--normal-space);

    &__end {
        margin: auto;
    }
}

.result {
    img:not(.last-img) {
        margin-block-end: 0.25rem;
    }
}

.process {
    padding: var(--normal-space);
    
    @media (min-width: 600px) {
        padding: var(--normal-space) var(--big-space);
    }
    h2:not(:first-of-type) {
        padding-block-start: var(--normal-space);
    }
    h3 {
        padding-block-start: var(--small-space);
    }
    h4 {
        padding-block-start: var(--small-space);
    }
    p:not(.process__arrow-down) {
        width: clamp(35ch, 100%, 60ch);
    }
    p {
        padding-block-end: var(--smaller-space);
        &:has(+ h3),
        &:has(+ h4) {
            padding: 0;
        }
    }
    p a {
        color: var(--tertiary-color);
        font-weight: 500;
    }
    &__img-space {
        margin-block-end: 0.5rem;
    }
    &__arrow-down {
        font-size: 2.5rem;
        text-align: center;
    }
    &__logo {
        width: clamp(100px, 100%, 500px);
        margin-block-start: var(--normal-space);
    }
}

