.button {
    display: inline-block;
    background-color: var(--tertiary-color);
    border: 0.2rem solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--small-space) var(--normal-space);
    color: var(--white-color);
    text-transform: uppercase;

    &:hover {
        background-color: var(--border-color);
    }
    &--about {
        @media (min-width: 600px) {
            display: none;
        }
    }
}