.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--small-space);

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--tertiary-color);
        border: 0.2rem solid var(--border-color);
        border-radius: var(--border-radius);
        padding: var(--normal-space);
        text-align: center;

        &--phases {
            flex: 1;
            flex-direction: row;
            text-align: left;
            padding-inline-end: var(--small-space);
            padding-block: var(--small-space);

            p {
                margin: 0;
            }
            @media (min-width: 600px) {
                padding-block: var(--normal-space);
            }
        }
        &--projects {
            width: clamp(250px, 20%, 300px);
        }
    }
    &__number {
        font-size: var(--step-4);
        color: var(--secondary-color);
        font-family: abril-display, serif;
        padding-inline-end: var(--normal-space);
    }
    &__image {
        padding-block-end: var(--small-space);
        width: clamp(10px, 15%, 250px);
    }
    &__title {
        font-size: var(--step-1);
        font-weight: bold;
        margin: 0;
        &--phases {
            font-size: var(--step-0);
        }
    }
}