.some {
    display: flex;
    max-width: 60%;
    margin-inline: auto;
    justify-content: space-around;
    padding: var(--small-space);
    text-align: center;

    &--about {
        display: none;
        gap: var(--medium-space);
        padding-inline: 0;
        margin-block-start: var(--normal-space);
        margin-inline: 0;
        color: var(--tertiary-color);
        font-weight: 500;

        @media (min-width: 1024px) {
            display: flex;
        }
    }
    &__image {
        width: clamp(20px, 50%, 30px);
    }
    &__username {
        display: none;
        @media (min-width: 1024px) {
            display:block;
            margin: 0;
        }
    }
}