@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
}