// HIDDEN "SKIP TO MAIN CONTENT" LINK FOR SCREEN READERS
.skip {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

// COMMON RULES 
body {
    font-family: var(--font-family);
    color: var(--white-color);
    background-color: var(--primary-color);
    line-height: var(--line-height-base);
}

section:nth-child(even):not(.about__cv) {
    background-color: var(--secondary-color);
}
section:not(.hero, .projects) {
    padding: var(--big-space);
    align-content: center;
}

h1 {
    font-size: var(--step-3);
    font-family: abril-display, serif;
}

h2 {
    font-size: var(--step-2);
    font-family: abril-display, serif;
    line-height: 1.2;
}

h3 {
    font-size: var(--step-1);
    font-weight: 500;
}

h4 {
    color: var(--tertiary-color);
    font-weight: 500;
}

h1, h2 {
    text-transform: uppercase;
}

p {
    font-size: var(--step-0);
    margin-block-end: var(--small-space);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

a {
    color: var(--white-color);
    text-decoration: none;
}

p a {
    color: var(--border-color);
    font-weight: 500;
    text-decoration: underline;
}

figcaption {
    font-size: var(--step--2);
}

figcaption a {
    text-decoration: underline;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    width: 100%;
    &:has(+ p){
        margin-block-end: var(--small-space);
    }
}

ul, ol {
    margin-left: var(--medium-space);
    &:has(+ p){
        margin-block-end: var(--small-space);
    }
}
