:root {
    // Typography
    --font-family: "montserrat", sans-serif;

    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--1: clamp(0.85rem, 0.5677rem + 0.1836vw, 0.9rem);
    --step-0: clamp(0.9rem, 0.7754rem + 0.2899vw, 1rem);
    --step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5rem);
    --step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.7rem);
    --step-3: clamp(1.6rem, 1.6615rem + 1.124vw, 2rem);

    --font-weight-medium: 500;
    --font-weight-bold: bold;

    --line-height-small: 1.2;
    --line-height-base: 1.5;

    // Colors
    --primary-color: #db1f6d;
    --secondary-color: #ffeef3;
    --text-color: #000000;
    --text-color-light: #ffffff;
    --footer-text: #c0c0c0;
    --no-color: transparent;

    // Spaces
    --micro-space: 0.3rem;
    --mini-space: 0.5rem;
    --small-space: 1rem;
    --normal-space: 1.5rem;
    --medium-space: 2rem;
    --big-space: 2.5rem;
    --mega-space: 3rem;
}