:root {
    // Typography
    --font-family: "montserrat", sans-serif;

    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.85rem, 0.5677rem + 0.1836vw, 0.9rem);
    --step--1: clamp(0.85rem, 0.6877rem + 0.2536vw, 0.9rem);
    --step-0: clamp(0.9rem, 0.7754rem + 0.2899vw, 1rem);
    --step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5rem);
    --step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.7rem);
    --step-3: clamp(1.6rem, 1.6615rem + 1.124vw, 2rem);
    --step-4: clamp(3rem, 1.7615rem + 1.4vw, 2.8rem);

    --line-height-small: 1.2;
    --line-height-base: 1.5;

    --border-radius: 0.5rem;
    --border-radius-small: 0.3rem;

    // Colors
    --primary-color: #44062f;
    --secondary-color: #fbbcdc;
    --tertiary-color: #c10c74;
    --border-color: #f36aba;
    --black-color: #141214;
    --white-color: #ffffff;
    --copyright-color: #aaaaaa;
    --no-color: transparent;

    // Spaces
    --micro-space: 0.3rem;
    --mini-space: 0.5rem;
    --smaller-space: 0.7rem;
    --small-space: 1rem;
    --normal-space: 1.5rem;
    --medium-space: 2rem;
    --big-space: 2.5rem;
    --mega-space: 3rem;
}