* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
}
.skip {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

body {
  font-family: var(--font-family);
  color: var(--white-color);
  background-color: var(--secondary-color);
  line-height: var(--line-height-base);
}

section:nth-child(odd) {
  background-color: var(--primary-color);
}

section:not(.hero, .graphic) {
  padding: var(--big-space);
  align-content: center;
}

h1 {
  font-size: var(--step-3);
  font-family: abril-display, serif;
}

h2 {
  font-size: var(--step-2);
  font-family: abril-display, serif;
}

h3 {
  font-size: var(--step-1);
  font-weight: bold;
}

h1, h2, h3 {
  text-transform: uppercase;
}

p {
  font-size: var(--step-0);
  margin-block-end: var(--small-space);
}

a {
  color: var(--white-color);
  text-decoration: none;
}

figcaption {
  font-size: var(--step--2);
}

figcaption a {
  text-decoration: underline;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

:root {
  --font-family: "montserrat", sans-serif;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.85rem, 0.5677rem + 0.1836vw, 0.9rem);
  --step--1: clamp(0.85rem, 0.6877rem + 0.2536vw, 0.9rem);
  --step-0: clamp(0.9rem, 0.7754rem + 0.2899vw, 1rem);
  --step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5rem);
  --step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.7rem);
  --step-3: clamp(1.6rem, 1.6615rem + 1.124vw, 2rem);
  --step-4: clamp(2.8rem, 1.7615rem + 1.4vw, 3rem);
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --border-radius: 0.5rem;
  --border-radius-small: 0.3rem;
  --primary-color: #44062f;
  --secondary-color: #fbbcdc;
  --tertiary-color: #c10c74;
  --border-color: #f36aba;
  --black-color: #141214;
  --white-color: #ffffff;
  --copyright-color: #aaaaaa;
  --no-color: transparent;
  --micro-space: 0.3rem;
  --mini-space: 0.5rem;
  --smaller-space: 0.7rem;
  --small-space: 1rem;
  --normal-space: 1.5rem;
  --medium-space: 2rem;
  --big-space: 2.5rem;
  --mega-space: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--small-space);
}
.cards__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color);
  border: 0.2rem solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--normal-space);
  text-align: center;
}
.cards__box--phases {
  flex: 1;
  flex-direction: row;
  text-align: left;
  padding-inline-end: var(--small-space);
  padding-block: var(--small-space);
}
.cards__box--phases p {
  margin: 0;
}
@media (min-width: 600px) {
  .cards__box--phases {
    padding-block: var(--normal-space);
  }
}
.cards__box--projects {
  width: clamp(250px, 20%, 300px);
}
.cards__number {
  font-size: var(--step-4);
  color: var(--secondary-color);
  font-family: abril-display, serif;
  padding-inline-end: var(--normal-space);
}
.cards__image {
  padding-block-end: var(--small-space);
  width: clamp(10px, 15%, 250px);
}
.cards__title {
  font-size: var(--step-1);
  font-weight: bold;
  margin: 0;
}
.cards__title--phases {
  font-size: var(--step-0);
}

.button {
  display: inline-block;
  background-color: var(--tertiary-color);
  border: 0.2rem solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--small-space) var(--normal-space);
  color: var(--white-color);
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--border-color);
}
@media (min-width: 600px) {
  .button--about {
    display: none;
  }
}
.button--cv {
  padding-block: var(--mini-space);
}

.some {
  display: flex;
  max-width: 60%;
  margin-inline: auto;
  justify-content: space-around;
  padding: var(--small-space);
  text-align: center;
}
.some--about {
  display: none;
  gap: var(--medium-space);
  padding-inline: 0;
  margin-block-start: var(--normal-space);
  margin-inline: 0;
  color: var(--tertiary-color);
  font-weight: 500;
}
@media (min-width: 600px) {
  .some--about {
    display: flex;
  }
}
.some__image {
  width: clamp(20px, 50%, 30px);
}
.some__username {
  display: none;
}
@media (min-width: 600px) {
  .some__username {
    display: block;
    margin: 0;
  }
}

@keyframes twinkle {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(3);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
.star {
  animation: twinkle 2s infinite alternate;
}

.hero {
  position: relative; /* For stjernene!! */
  height: 100vh;
}
.hero__content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 600px) {
  .hero__content {
    align-content: end;
  }
}
.hero__info {
  align-self: center;
  margin-inline: auto;
  width: clamp(28ch, 50%, 38ch);
}
.hero__image {
  align-self: end;
  margin-inline-start: auto;
  width: clamp(265px, 50%, 350px);
}
.hero__scroll {
  font-size: var(--step-4);
  animation: bounce 2s infinite;
  position: absolute;
}

/* NAVIGATION MENU */
.navbar {
  display: flex;
  align-items: center;
  padding: var(--medium-space) var(--normal-space);
  position: absolute;
  z-index: 1;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}
.navbar--about {
  position: relative;
  border-bottom: 1px solid var(--tertiary-color);
  background-color: var(--primary-color);
}
.navbar__menu {
  background: none;
  font-size: var(--step-3);
  color: var(--white-color);
}
@media (min-width: 600px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__list {
  display: none;
}
.navbar__list.open {
  display: flex;
  flex-direction: column;
  padding-block: var(--small-space);
  background-color: var(--primary-color);
  border: 0.1rem solid var(--tertiary-color);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .navbar__list {
    display: flex;
    align-items: center;
  }
}
.navbar__items {
  display: inline-block;
  padding-block: var(--normal-space);
  margin-inline: var(--mini-space);
}
.navbar__items:hover {
  font-weight: bold;
}
@media (min-width: 600px) {
  .navbar__items {
    padding: 0;
  }
}
.navbar__logo {
  width: clamp(100px, 30%, 150px);
}

.footer {
  padding: var(--small-space);
  background-color: var(--black-color);
  text-align: center;
}
.footer__text {
  color: var(--copyright-color);
}

.grid {
  display: grid;
}
.grid__main {
  grid-row: 2;
}
.grid__aside {
  display: contents;
}
.grid__aside img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid__aside--about figure:first-child img {
  height: 35vh;
  grid-row: 1;
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas: "left right";
  }
  .grid__aside {
    position: sticky;
    bottom: 0;
    align-self: last baseline;
    display: block;
    grid-area: left;
  }
  .grid__aside--about figure:first-child img {
    height: auto;
  }
  .grid__main {
    grid-area: right;
  }
}
.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem 6rem;
  min-height: 75vh;
}
.introduction__img-box {
  width: clamp(220px, 60%, 300px);
  transform: rotate(-5deg);
}
.introduction__img {
  box-shadow: -7px 12px 20px var(--black-color);
  border-radius: var(--border-radius);
}
.introduction__info {
  width: clamp(24ch, 50%, 40ch);
}

.phases {
  margin: auto;
}
.phases__heading, .phases__info {
  color: var(--primary-color);
}
.phases__info {
  padding-block-start: var(--normal-space);
}
.phases__info p {
  margin: 0;
}
.phases__info p:first-of-type {
  font-weight: 500;
}
.phases__info p:last-of-type {
  color: var(--tertiary-color);
}
@media (min-width: 600px) {
  .phases {
    width: 70%;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.contact__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--normal-space) var(--small-space);
  border: 0.2rem solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--tertiary-color);
}
.contact__form label {
  padding-block-end: var(--mini-space);
}
.contact__form input:not(.button), .contact__form select, .contact__form textarea {
  margin-block-end: var(--small-space);
  padding: var(--small-space);
  border-radius: var(--border-radius-small);
  background-color: var(--secondary-color);
}
.contact__form ::-moz-placeholder {
  color: var(--tertiary-color);
}
.contact__form ::placeholder {
  color: var(--tertiary-color);
}
.contact .button {
  align-self: end;
}
@media (min-width: 600px) {
  .contact {
    width: 75%;
  }
}

/* ALL PROJECTS */
.projects {
  display: block;
}
@media (min-width: 600px) {
  .projects {
    display: flex;
  }
}
.projects__content {
  position: relative;
  border-top: 0.1rem var(--white-color) solid;
}
.projects__content :hover img {
  opacity: 0.15;
}
.projects a:hover > div {
  opacity: 1;
  color: var(--primary-color);
}
.projects__caption {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  justify-items: center;
  width: 100%;
}
.projects__caption h2, .projects__caption p {
  margin: 0;
  padding: 0;
}
.projects__caption--big {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.white-img {
  border: 0.5px solid var(--footer-text);
}

/* ABOUT ME */
.about {
  background-color: var(--primary-color);
}
.about h3, .about p:not(.some__username) {
  max-width: clamp(35ch, 80%, 52ch);
}
.about h4, .about figcaption {
  color: var(--secondary-color);
  font-weight: 500;
  text-transform: none;
}
.about figcaption {
  padding-block: var(--small-space) var(--normal-space);
  text-align: center;
}
.about section:nth-child(odd) {
  min-height: 50vh;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.about h3 {
  padding-block-start: var(--normal-space);
}/*# sourceMappingURL=main.css.map */